name: "test"
on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Build and push Docker images
        uses: docker/build-push-action@v1.1.0
        with:
          repository:
          username:
          registry: docker.pkg.github.com
          tag_with_ref: true
          tag_with_sha: true
          path: /
          dockerfile: Dockerfile